# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extension files
*.so

# Distribution / packaging
/dist/
/build/
*.egg-info/
*.egg

# Compiled Python files
*.pyc

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
venv/
env.bak/
venv.bak/

# Logs and databases
*.log
*.sqlite3
*.db

# Other
.DS_Store
reorganize.sh
chromedriver
.env

